@using Dealership.Models;

<label action="/cars" method="post">
  <label for="makeModel">Add the new car's make/model</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Add the new car's price</label>
  <input id="price" name="price" type="text">
  <label for="miles">Add the new car's miles</label>
  <input id="miles" name="miles" type="text">

  <button type="submit">Submit</button>
</label>